<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get_help" %>
  <a href="http://www.railstutorial.org/help"><%= t ".rails_tutorial" %></a>.
  <%= t ".to_get_help" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".ruby_on_rails" %></em> <%= t ".book" %></a>.
</p>

