<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".ruby_on_rails_tutorial"), t(".tutorial_link") %>
    <%= t ".by" %> <%= link_to t(".michael_hartl"), t(".michaelhartl_link") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), t(".new_link") %></li>
    </ul>
  </nav>
</footer>
